
    <h2>Drink Profile</h2>
    <p><strong>ID:</strong> {{ drinkprofile?.id }}</p>
    <p><strong>Recipe ID:</strong> {{ drinkprofile?.recipeId }}</p>
    <p><strong>Description:</strong> {{ drinkprofile?.description }}</p>
    <p><strong>Sweetness/Fruitiness:</strong> {{ drinkprofile?.sweetnessOrFrutitiness }}</p>
    <p><strong>Richness:</strong> {{ drinkprofile?.richness }}</p>
    <p><strong>Booziness:</strong> {{ drinkprofile?.booziness }}</p>
    <p><strong>Lightness:</strong> {{ drinkprofile?.lightness }}</p>
    <p><strong>Timestamp:</strong> {{ drinkprofile?.timestamp}}</p>
 
