<div style="margin-bottom: 16px;">
    <button (click)="activeTab = 'recipes'">Recipes</button>
    <button (click)="activeTab = 'ingredients'">Liquid Ingredients</button>
    <button (click)="activeTab = 'drinkprofile'">Drink Profiles</button>
  </div>
  
  <app-display-recipe *ngIf="activeTab === 'recipes'"></app-display-recipe>
  <app-liquid-ingredient-list *ngIf="activeTab === 'ingredients'"></app-liquid-ingredient-list>
  <app-display-drinkprofile *ngIf="activeTab === 'drinkprofile'"></app-display-drinkprofile>

  <!--This is our paginator:-->
  <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>